DB_HOST=postgres
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

REDIS_HOST=redis
REDIS_PORT=

DB_MAX_CONNECTIONS= # Number of connections to stay open in postgres (Connection pool)
BATCHING_SIZE=  # this is for redis batch writing to db size
BATCHING_TIMEOUT= # set this to x seconds * 1000 to configure redis batch writing to either write to db after batchingsize is reached or else write after x seconds
